<mat-toolbar class="header">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>&nbsp; Kijiji Helper</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" (click)="showSetting()" aria-label="Example icon-button with heart icon">
    <mat-icon>screenshot_monitor</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" (click)="showChart()" aria-label="Example icon-button with share icon">
    <mat-icon>insert_chart</mat-icon>
  </button>
</mat-toolbar>