.example-input-wrapper {
  margin-bottom: 16px;
}

label {
  margin-right: 4px;
}
.wrapper
{
height: 100%;
}

mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

mat-radio-button {
  margin: 5px;
}